body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF5733 ;
    padding: 10px 20px;
    box-shadow: 0 2px 5px #6e1703;
 }



.title {
    font-size: 30px;
    text-transform: capitalize;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.tittle:hover {
    color: white;
}

.nav{
    margin: 0 10px;
    cursor: pointer;
    font-size: 18px;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    text-decoration:none;
 }
 
 .nav:hover {
    color: white ;
 }

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px #FF5733;
    overflow: hidden;
    transition: transform 0.2s;
    position: relative;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #FF5733 ;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #0056b3;
}

.footer {
    background-color: #FF5733;
    color: rgb(0, 0, 0);
    text-align: left;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1225px;
    padding: 20px;
  }