* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 }

    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(244, 239, 233);
        color: rgb(44, 42, 42);
    }

 .container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
 }

 .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
 }

 .title {
    font-size: 24px;
    font-weight: bold;
    color: rgb(44, 42, 42);
 }

 .nav {
    background-color: antiquewhite;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #ddd ;
 }

 .hero-img {
    background-color: #ddd;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
 }